body {
    margin:0px;
    font-family: Arial, sans-serif;
    background-color: #052c1f;
    padding: 20px;
}
.startup{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.wrapper span{
    position: fixed;
    bottom: -100px;
    height: 40px;
    width: 40px;
    z-index: -1;
    background-color: #00000000;
    box-shadow: 0 0 50px #5fe0f4,
                0 0 100px #5fe0f4,
                0 0 150px #5fe0f4,
                0 0 200px #5fe0f4;
    animation: animate 10s linear infinite;
}
.wrapper span:nth-child(1){
    left: 5%;
    animation-delay: 1s;
}
.wrapper span:nth-child(2){
    left: 10%;
    animation-delay: 3s;
    height: 60px;
    width: 60px;
   
}
.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 2s;
}
.wrapper span:nth-child(4){
    left: 25%;
    animation-delay: 5s;
    height: 80px;
    width: 80px;
   
}
.wrapper span:nth-child(5){
    left: 30%;
    animation-delay: 1s;
    height: 60px;
    width: 60px;
}
.wrapper span:nth-child(6){
    left: 40%;
    animation-delay: 7s;
    height: 90px;
    width: 90px;
}
.wrapper span:nth-child(7){
    left: 50%;
    animation-delay: 6s;

    
}
.wrapper span:nth-child(8){
    left: 60%;
    animation-delay: 8s;
    height: 60px;
    width: 60px;
}
.wrapper span:nth-child(9){
    left: 70%;
    animation-delay: 6s;
    height: 100px;
    width: 100px;
}
.wrapper span:nth-child(10){
    left: 75%;
    animation-delay: 4s;
    height: 60px;
    width: 60px;
   
}
.wrapper span:nth-child(11){
    left: 80%;
    animation-delay: 8s;
    height: 80px;
    width: 80px;
   
}
.wrapper span:nth-child(12){
    left: 90%;
    animation-delay: 4.5s;
    height: 60px;
    width: 60px;
}

@keyframes animate {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        opacity: .7;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}
.openButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid #ff00c8;
    box-shadow: 0px 0px 30px #995be0;
    border-radius: 10px;
    width: 30vw;
    height: 20vh;
    animation: ani 10s linear infinite
    
}
.openButton h1{
    text-align: center;
}
.openButton button{
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #b700ff;
    box-shadow: 0 0 10px #b700ff;
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
}
@media (max-width:768px) {
    .startup{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
    }
    .openButton{
        width: 60vw;
        height: 25vh;
    }
}

@keyframes ani {
    0%{
        transform: translateY(20);
        box-shadow: 0 0 100px white;
    }
    50%{
        box-shadow: 0 0 20px white;
    }
    100%{
        box-shadow: none;
    }
}


.container {
    display: none;
    max-width: 900px;
    margin: 0 auto;
    background:transparent;
    padding: 20px;
    box-shadow: 0 4px 10px #b3b300;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: bold;
    color: white;
}

input {
    padding: 10px;
    border: 1px solid #eeecec;
    border-radius: 5px;
    font-size: 16px;
    width: 95%;
    background-color: rgb(243, 243, 243);
    box-shadow: 0 5px 5px #38cd30;
    outline: none;
    margin:10px;
}

button {
    
    padding: 12px;
    background-color: #ce54f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 170px;
}

button:hover {
    background-color: #00b38c;
}

h2{
    background-color:#a200ff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #7100b3;
}

/* Generated Resume Styling */

.profilePicture {
margin: 0 auto;
display:flex;
border: 2px solid white;
box-shadow: 0 5px 20px black;
border-radius: 50%;
width: 200px;
height: 200px;
object-fit: cover;
margin-top: 20px;
}

#resume {
    margin-top: 50px;

    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    border: 2px solid #ae00ff;
    box-shadow: 0 0 20px white;
    background-color: white;
}

.resume-content h3 {
    padding: 10px;
    margin-bottom: 10px; 
    background: linear-gradient(to right, #8c00ff , rgb(170, 201, 236));  
    color: white; 
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #7700ff;
}
.resume-content p {
    font-size: 1.2rem;
    line-height: 1.6;

}
.resume-content ul li{
    line-height: 30px;
    font-size: 1.1rem;
}
h1{
    color: white;
}

#resume h2{
    background-color: #4e35d8;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}